<footer class="container-fluid" style="padding: 0;">
    <div class="about-Us ">
        <img src="logo/logo-trans2.png" height="80">
        <div class="footer-links">
            <a href="https://docs.google.com/document/d/1kpA3wnTuFQgnhtfqXv3R3SQtBQKnCmSqurqb1xu23Dg/edit">Terms &
                Conditions</a>
            <a href="">About Us</a>
            <a href="mailto:ex@gmail.com?subject=DYPMUN">Contact Us</a>
        </div>
        <div class="handles">
            <p>FOLLOW US ON-</p>
            <div class="social-media">
                <a href="https://www.instagram.com/dypimun23/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/DYPIMUN"><i class="bi bi-facebook"></i></a>
                <a href="https://www.youtube.com/@DYPIMUN"><i class="bi bi-youtube"></i></a>
                <a href="https://twitter.com/DYPIMUN"><i class="bi bi-twitter"></i> </a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © DYPMUN</p>
        </div>
    </div>

</footer>

</html>