<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
        margin: 0;
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        box-sizing: border-box;
        }

        html, body, .front-page{
            height: 100%;
        }
        .bg-overlay {
            background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("logo/WhatsApp\ Image\ 2022-11-12\ at\ 20.34.03.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            color: #fff;
            height: 100%;
            padding-top: 50px;
        }
        .text-box{
            position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        }

        .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 4px;

}

    </style>
</head>
<body>
    <section class="front-page">
        <div class="container-fluid bg-overlay">
            <div class="text-box">
                <h1>Registeration Page Coming Soon</h1>
                <p style="padding: 30px;">
                    <a href="index.html" class="hero-btn">Home</a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>