<%- include("partials/header"); -%>
    <section class="front-page">
        <div class="container-fluid bg-overlay">
            <div class="text-box">
                <h1>D. Y. Patil <br>International Model United Nations</h1>
                <p>Diplomacy is a continuation of <br> war by other means.<br> 26 Jan 2023</p>
                <a href="coming_soon.html" class="hero-btn">Register Now</a>
    
            </div>
        </div>
    </section>
    <section class="mid-sec">
        <div class="container card-section">
            <div class="box">
                <div class="card-body">
                    <div class="imgContainer">
                        <img src="logo/UN_emblem_blue.svg.png" alt="">
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Post Title</h3>
                            <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
                                sed
                                cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="card-body">
                    <div class="imgContainer">
                        <img src="logo/WhatsApp Image 2022-11-12 at 20.34.01.jpeg" alt="">
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Post Title</h3>
                            <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
                                sed
                                cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="card-body">
                    <div class="imgContainer">
                        <img src="logo/WhatsApp Image 2022-11-12 at 20.34.01 (1).jpeg" alt="">
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Post Title</h3>
                            <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
                                sed
                                cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<%- include("partials/footer"); -%>