<%- include("partials/header"); -%>
    <h1>register</h1>

    <form action="/registration" method="post">
        <input type="text" placeholder=" Name" name="FName" required>
        <input type="text" placeholder="Name of co-delegate(if any)" name="Name_co">
        <input type="email" placeholder="email" name="Email" required>
        <input type="email" placeholder="email of co-delegate" name="Email_co">
        <input type="number" placeholder="Mobile number" name="moblieNo" required>
        <input type="number" placeholder="whatsapp number" name="whatsappMoblieNo" required>
        <input type="number" placeholder="Mobile number of co-delegate" name="moblieNo_co">
        <input type="number" placeholder="whatsapp number of co-delegate" name="whatsappMoblieNo_co">
        <input type="text" placeholder="gender" name="gender" required>
        <input type="text" placeholder="gender" name="gender of co-delegate">
        <input type="age" placeholder="Age" name="age" required>
        <input type="age" placeholder="Age co-delegate" name="age_co">
        <input type="text" placeholder="nationality" name="nationality" required>
        <input type="text" placeholder="nationality co-delegate" name="nationality_co" required>
        <input type="text" placeholder="city of residence" name="residenceCity" required>
        <input type="text" placeholder="city of residence co-delegate" name="residenceCity_co" required>
        <button class="btn" type="submit">submit</button>
    </form>

    <%- include("partials/footer"); -%>