* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    box-sizing: border-box;
}

html, body, .front-page{
    height: 100%;
}

@media (max-width:750px){

    .handles{
        width: 80%;
    }
    .footer-links{
        width: 80%;
        flex-direction: column;
        
    }


}
@media (min-width:751px){
    .footer-links{
        width: 30%;
        flex-direction: row;
    }
}

.handles{
    color: darkslategrey;
}

.about-Us {
    background: rgba(121, 131, 130, 0.576);
    width: 100%;
    position: absolute;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.about-Us a{
    text-decoration: none;
    color: darkslategrey;
    border-radius: 50%;
    text-align: center;
}

.about-Us a:hover{
        color: #8a135e;
}


.social-media{
    display: flex;
    justify-content: space-evenly;
}

.bi{
    font-size: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
}

.footer-links a:hover{
    text-decoration: underline;
}

.copyright{
    position: relative;
    top: 4%;
    height: 25px;
    width: 100%;
    text-align: center;
}

